
  h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
}
.subtitle{
   text-shadow: 2px 1px #423F3E;
  text-align: center;
  padding-top: 1.25rem;
}
.subtitleMembers{
   text-shadow: 2px 2px #423F3E;
   text-align: center;
   margin: 20px auto;

}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.navbar-brand{
  font-size: 50px !important;
  padding-left: auto;
}
.CRSLogoNav{
  margin: auto 20px;
  width: 10%;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}
.navbar{
  padding: 10px auto;
}

.CRSLogo{
  margin-top: auto;
  margin-left: 600px;
}
.row{
  bacground-color: #EEEEEE;
}
#features{
  padding: 7% 15%;

}
.feature-box{
  text-align:center;
  padding: 5%;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
p{
  color: #8f8f8f;
  font-weight: 500;
}
.icon{
  padding-bottom: 1rem;
  color: #FF7800;
}
.icon:hover{
  color:  #3E7C17;
}
.about{
  padding-left: 20px;
  padding-top: 30px;
  font-family:cursive;
  text-align:left;
}
.ic{
  padding-right: 10px;
  color: #FF7800;
}
.map{
  padding-left: 100px;
  padding-top: 50px;
}
.groupPic{
  width: 50%;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #EEEEEE;
}
#memberPics{
  padding: 7% 15%;
  text-align: center;
  background-color: Black;
}
.carousel-item{
  padding: 7% 7%%;
}
.SMJ{
  text-decoration: none;
  color: black;
}
#memberPics{
  background-color: #EEEEEE;
}
.rider{
  height: 25rem;
  width: 20rem;

}
.carousel-caption{
  margin: 250px 200px 50px 500px;
}
.fa-brands:hover{
  transform: scale(2);
}
#footer{
  background-color: black;
  text-align: center;
}
.footerLink{
  text-decoration: none;
  color: #F0A500;
}
.aboutcrs{
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-size: 2rem;
  padding-bottom: 20px;
  text-decoration: underline;
}
